*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1{
    border:2px black;
    border: dashed;
position:relative;
}

.container2{
    border: 3px solid red;
    height:20px;
    width:20px;
    position: relative;

}

.box{
    width:150px;
    height:150px;
    color: black;
    padding: 1rem;
}

.absolute{
    background-color: blueviolet;
    position: absolute;
}

.relative{
    border: 2px;
    background-color: brown;
position: relative;
top: 100px;
left: 100px;
}

.fixed{
    border: 2px;
    background-color: chartreuse;
    position: fixed;
    top: 100px;
}

.sticky{
    background-color: cyan;
    position: sticky;
}


