*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1{
    border:2px black;
    background-color: antiquewhite;
    height: 1000px;
    width: 700px;
    border: dashed;
position:relative;
}

.container2{
    border: 3px solid red;
    height:200px;
    width:200px;
    position: relative;
    top:10%;

}



.absolute{
    border: 2px ;
    background-color: blueviolet;
    position: absolute;
   
    left: 200px;
    z-index: 4;
}

.relative{
    border: 2px;
    background-color: brown;
position: relative;
top: 100px;
left: 100px;
}

.fixed{
    border: 2px;
    background-color: chartreuse;
    position: fixed;
    top: 500px;
}

.sticky{
    border: 2px;
    background-color: cyan;
    position: sticky;
    top:200px;
}


